.header {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: rgba(0,0,0, .6);
    color: rgb(151,126,79);
}

.logo {
    font-size: 4rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
    letter-spacing: .3rem;
    background-color: transparent;
    border: none;
    color: rgb(151,126,79);
}

.hamburgermenu {
    fill: rgb(151,126,79);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.header nav {
  z-index: 100;
  background-color: rgba(0,0,0, .6);
  position: absolute;  
  top: 8vh;
  left: 100%;
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5;
}

.active {
    left: 0;
}



.header nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    height: 50%;    
}

.header nav div > * {
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    color: white;
}