/* Who I am Section */
.textcontent {
    display: flex;
    gap: 10rem;
    text-align: left;
}

.whoiam div img {
    height: 80vh;
}

.textcontent div {
    display: flex;
    flex-direction: column;
}


.textcontent div p {
    margin-bottom: 1rem;
}

/* End of Who I am Section */

/* Clients Section */


.client div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem 0;
}

/* End of Clients Section */

/* Quote Section */

.quote {
    flex-direction: row;
    gap: 100px;
}

.quotetext  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.quotetext > * {
    margin-bottom: 3rem;
}


.quotetext span {
    font-size: 2rem;
    color:white;
    letter-spacing: .2rem;
}



.quote img {
    width: 400px;
    height: 400px;
}

/* End of Quote Section */

/* Media Queries BreakPoint - 1 */

@media only screen and (max-width: 1430px) {
    .textcontent,
    .quote,
    .client {
        flex-direction: column;
        text-align: center;
    }

    .textcontent img {
        height: 40vh;
        width: 50vw;
        margin: 0 auto;
    }

    .quote img {
        margin: 0 auto;
    }
}