.home {
    height: 92vh;
    padding: 0 10%;
    max-width: 100%;
    background:linear-gradient(0deg, rgba(0,0,0, .5),rgba(0,0,0, .5)), url(../../public/Assets/homepage-model.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 821px) {

.home {
    background:linear-gradient(0deg, rgba(0,0,0, .5),rgba(0,0,0, .5)), url(../../public/Assets/homepage-model-mobile.jpg);
    background-size: cover;
}
}

